{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section id="reviews-section">
    <div class="container h-100">
        <div class="row">
            <div class="col mt-4">
                <h3 class="section-title m-0">Reviews</h3>
                <hr>
            </div>
        </div>
    </div>
    <div class="container h-100 {% if reviews %}mb-5 pb-5{% endif %}">
        {% for review in reviews %}
            <div class="row">
                <div class="col-12 col-sm-8 order-sm-last mb-2">
                    <p class="content-text font-weight-700 mb-0">{{ review.title }}</p>
                </div>
                <div class="col-12 col-sm-4 mb-2">
                    <div class="star-ratings-css">
                        <div class="star-ratings-css-top" style='width: {{review.get_each_display_rating}}%'>
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                        <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-8 order-sm-last mb-2">
                    <p class="content-text mb-0">{{ review.description }}</p>
                </div>
                <div class="col-12 col-sm-4 mb-2">
                    <p class="content-text font-weight-600 mb-0">{{ review.user }}</p>
                    <p class="content-text mb-0">{{ review.date_posted }}</p>
                </div>
            </div>

            {% if request.user.is_authenticated and request.user.id == review.user.id %}
            <p class="mt-4">
                <small>
                    <a href="">Edit</a> | 
                    <a class="text-danger" type="button" data-toggle="modal" data-target="#deleteModal" data-item="review" data-url="{% url 'delete_review' review.id %}">Delete</a>
                </small>
            </p>
                
            {% endif %}  
            
            <div class="row mb-5">
                <div class="col-12">
                    <hr>
                </div>
            </div>
        {% empty %}
            <div class="row">
                <div class="col-12 no-available-products d-flex justify-content-center align-items-center">
                    <p class="text-center title-text">There are no reviews yet.</p>
                </div>
            </div>
        {% endfor %}
    </div>
    
</section>

{% endblock %}
