{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section id="reviews-section">
    <div class="container h-100">
        <div class="row">
            <div class="col mt-4">
                <h3 class="section-title m-0">Reviews</h3>
                <hr>
            </div>
        </div>
    </div>
    <div class="container h-100 {% if reviews %}mb-5 pb-5{% endif %}">
        {% if reviews %}
            <div class="row mt-1 mb-4 justify-content-center justify-content-md-end">
                <div class="col-12 col-md-5 my-auto d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-75 my-auto">
                        <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating(high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                        </select>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row m-0">
            {% for review in reviews %}
                {% with reviews|length as rev %}
                <div class="col-xs-12 col-md-12 col-lg-6">
                    <div class="row 
                        {% if rev != 1 %}
                            {% if forloop.counter|divisibleby:2 == 0 %}review-border-right{%endif%}
                        {%endif%}
                        ">
                        <div class="col-xs-12 col-md-3 my-1">
                            {% if review.product.image %}
                                <a href="{{ review.product.get_absolute_url }}">
                                    <img class="card-img-top img-fluid" src="{{ review.product.image.url }}" alt="{{ review.product.name }}">
                                </a>
                            {% else %}
                                <a href="{{ review.product.get_absolute_url }}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ review.product.name }}">
                                </a>
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <p class="my-0"><strong>{{ review.product.name }}</strong></p>

                        </div>
                    </div>

                    <div class="row pt-2
                        {% if rev != 1 %}
                            {% if forloop.counter|divisibleby:2 == 0 %}review-border-right{%endif%}
                        {%endif%}
                        ">
                        <div class="col-xs-12 col-md-9 order-md-last mb-2">
                            <p class="content-text font-weight-700 mb-0">{{ review.title }}</p>
                        </div>
                        <div class="col-12 col-md-3 mb-2">
                            <div class="star-ratings-css">
                                <div class="star-ratings-css-top" style='width: {{review.get_each_display_rating}}%'>
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                            </div>
                        </div>
                    </div>

                    <div class="row 
                        {% if rev != 1 %}
                            {% if forloop.counter|divisibleby:2 == 0 %}review-border-right{%endif%}
                        {%endif%}
                        ">
                        <div class="col-12 col-md-9 order-md-last mb-2">
                            <p class="content-text mb-0">{{ review.description }}</p>
                        </div>
                        <div class="col-12 col-md-3 mb-2">
                            <p class="content-text review-font-date font-weight-600 mb-0">{{ review.user }}</p>
                            <p class="content-text review-font-date mb-0">{{ review.date_posted }}</p>
                        </div>
                    </div>

                    {% if request.user.is_authenticated and request.user.id == review.user.id %}
                        <div class="row 
                            {% if rev != 1 %}
                                {% if forloop.counter|divisibleby:2 == 0 %}review-border-right{%endif%}
                            {%endif%}
                            ">
                            <div class="col-12 col-md-9 order-md-last mb-2">
                                <p class="mt-4">
                                    <small>
                                        <a href="{% url 'edit_review' review.id %}">Edit</a> | 
                                        <a class="text-danger" type="button" data-toggle="modal" data-target="#deleteModal" data-item="review" data-url="{% url 'delete_review' review.id %}">Delete</a>
                                    </small>
                                </p>
                            </div>
                        </div>
                    {% endif %}  

                    <div class="row">
                        {% if rev|divisibleby:2 %}
                            {% if forloop.counter != rev|add:"-1" and forloop.counter != rev %}
                                <div class="col-12 d-none d-lg-block">
                                    <hr>
                                </div>
                            {% endif %}

                            {% if forloop.counter != rev %}
                                <div class="col-12 d-lg-none">
                                    <hr>
                                </div>
                            {% endif %} 
                        {% else %}
                            {% if forloop.counter != rev %}
                            <div class="col-12">
                                <hr>
                            </div>
                            {% endif %} 
                        {% endif %} 
                    </div>
                {% endwith %}
            </div>
            {% empty %}
                <div class="col-12 no-available-products d-flex justify-content-center align-items-center">
                    <p class="text-center title-text">There are no reviews yet.</p>
                </div>
            {% endfor %}
        </div>

        {% include 'products/includes/pagination.html' with products=reviews %}
    </div>
    
</section>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'reviews/js/reviews.js' %}"></script>

{% endblock %}
