{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <!-- Bag section -->
    <section id="bag-section" class="d-flex">
        <div class="container h-100">
            <div class="row">
                <div class="col my-4">
                    <h3 class="section-title m-0">Shopping Bag</h3>
                    <hr>
                </div>
            </div>

            <div class="row {% if bag_items %}mb-5 pb-5{% endif %}">
                {% if bag_items %}
                    <div class="col-12 col-lg-4 order-lg-last">
                        <div class="bag-totals">
                            <div class="row">
                                <div class="col-12">
                                    <p class="title-text">Bag Total: €{{ total|floatformat:2 }}</p>
                                    <p class="links-text">Delivery: €{{ delivery|floatformat:2 }}</p>
                                    <p class="brand-text mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></p>
                                    {% if free_delivery_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong> more!
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-12">
                                    <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 mt-3 w-100">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="col-12">
                                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-3 w-100">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-8">
                        <div class="d-block d-md-none">
                            <div class="row mt-2">
                                <div class="col-12">
                                    <p class="text-muted">A summary of your bag items is below</p>
                                </div>
                            </div>
                            {% for item in bag_items %}
                                <div class="row">
                                    <div class="col-12 col-sm-6 mb-2">
                                        {% include 'bag/includes/product_image.html' %}
                                    </div>
                                    <div class="col-12 col-sm-6 mb-2">
                                        {% include 'bag/includes/product_info.html' %}
                                        <p class="mt-0">Price each: €{{ item.product.price }}</p>
                                        <p><strong>Subtotal:</strong> €{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                        {% include 'bag/includes/quantity_form.html' %}
                                    </div>
                                </div>
                                {% if forloop.counter != bag_items|length %}
                                    <div class="row">
                                        <div class="col"><hr></div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="table-responsive rounded-0 d-none d-md-block">
                            <table class="table table-sm table-borderless">
                                <thead class="text-black">
                                    <tr>
                                        <th scope="col">Product info</th>
                                        <th scope="col"></th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Qty</th>
                                        <th scope="col">Subtotal</th>
                                    </tr>
                                </thead>
                                {% for item in bag_items %}
                                    <tr class="{% if forloop.counter != bag_items|length %}border-bottom{% endif %}">
                                        <td class="p-3 w-25">
                                            {% include 'bag/includes/product_image.html' %}
                                        </td>
                                        <td class="p-3">
                                            {% include 'bag/includes/product_info.html' %}
                                        </td>
                                        <td class="py-3">
                                            <p class="my-0">€{{ item.product.price }}</p>
                                        </td>
                                        <td class="py-3 w-25">
                                            {% include 'bag/includes/quantity_form.html' %}
                                        </td>
                                        <td class="py-3">
                                            <p class="my-0">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    
                {% else %}

                    <div class="col-12 no-available-products d-flex flex-column justify-content-center align-items-center mb-5">
                        <p class="lead mb-5">Your bag is empty.</p>
                        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-3" >
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                    </div>

                {% endif %}
            </div>
        </div>
    </section>
   
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}

    <script type="text/javascript">
        // Update quantity on click
        $('.update-link').click(function(e) {
            var form = $(this).prev('.update-form');
            form.submit();
        })
    
        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var size = $(this).data('product_size');
            var url = `/bag/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};
    
            $.post(url, data)
             .done(function() {
                 location.reload();
             });
        })
    </script>
{% endblock %}
