{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section class="d-flex flex-row">
    <div class="homepage-section w-100 bg-homepage-section ">
        <div class="w-100">
            <div class="container">
                <div class="row">
                    <div class="col-9 col-md-9 my-auto py-1">
                        <h1 class="header-text">men's</h1>
                        <h1 class="header-text">collection</h1>
                        <h2 class="subheader-text">From suits, jackets, shirts, shoes</h2>
                        
                        <div class="my-5">
                            <a href="" class="btn btn-lg btn-outline-white rounded-0 btn--shop-now-text text-uppercase py-3">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}