{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <!-- Profile section -->
    <section id="profile-section" class="d-flex">
        <div class="container h-100">
            <div class="row">
                <div class="col mt-4">
                    <h3 class="section-title m-0">My Profile</h3>
                    <hr>
                </div>
            </div>
        </div>
    </section>

    <section id="profile-nav-detail-section" class="my-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="nav nav-tabs justify-content-center" id="product-info-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link links-text text-uppercase active" id="details-tab" data-toggle="tab" href="#description-tab-container" role="tab" aria-controls="description-tab-container"
                                aria-selected="true">Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link links-text text-uppercase" id="order-history-tab" data-toggle="tab" href="#order-history-tab-container" role="tab" aria-controls="order-history-tab-container"
                                aria-selected="false">History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link links-text text-uppercase" id="query-tab" data-toggle="tab" href="#query-tab-container" role="tab" aria-controls="query-tab-container"
                                aria-selected="false">Query</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        
        <div class="container">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="description-tab-container" role="tabpanel" aria-labelledby="details-tab">
                    <div class="row mt-3 py-5">
                        <div class="col-12">
                            <p class="brand-text">Default Delivery Information</p>
                            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button class="btn btn-black rounded-0 text-uppercase float-right">Update Information</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="order-history-tab-container" role="tabpanel" aria-labelledby="order-history-tab">
                    <div class="row mt-3 py-5">
                        <div class="col-12">
                            <p class="brand-text mb-4">Order History</p>
                            {% if orders %}
                                <div class="d-block d-md-none">
                                    {% for order in orders %}
                                        <div class="row">
                                            <div class="col-12 col-sm-6 mb-2">
                                                <p class="title-text m-0">Order Number</p>
                                            </div>
                                            <div class="col-12 col-sm-6 mb-2">
                                                <a href="{% url 'order_history' order.order_number %}"
                                                        title="{{ order.order_number }}" class="text-break">
                                                            {{ order.order_number|truncatechars:9 }}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-sm-6 mb-2">
                                                <p class="title-text m-0">Date</p>
                                            </div>
                                            <div class="col-12 col-sm-6 mb-2">
                                                {{ order.date }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-sm-6 mb-2">
                                                <p class="title-text m-0">Items</p>
                                            </div>
                                            <div class="col-12 col-sm-6 mb-2">
                                                <ul class="list-unstyled">
                                                    {% for item in order.lineitems.all %}
                                                        <li class="small">            
                                                            {{ item.product.name }} x{{ item.quantity }}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-sm-6 mb-2">
                                                <p class="title-text m-0">Order Total</p>
                                            </div>
                                            <div class="col-12 col-sm-6 mb-2">
                                                €{{ order.grand_total }}
                                            </div>
                                        </div>
                                        {% if forloop.counter != orders|length %}
                                            <div class="row">
                                                <div class="col"><hr></div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                <div class="order-history table-responsive d-none d-md-block">
                                    <table class="table table-sm table-borderless">
                                        <thead>
                                            <tr class="border-bottom">
                                                <th>Order Number</th>
                                                <th>Date</th>
                                                <th>Items</th>
                                                <th>Order Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for order in orders %}
                                                <tr class="{% if forloop.counter != orders|length %}border-bottom{% endif %}">
                                                    <td class="py-2">
                                                        <a href="{% url 'order_history' order.order_number %}"
                                                        title="{{ order.order_number }}">
                                                            {{ order.order_number|truncatechars:9 }}
                                                        </a>
                                                    </td>
                                                    <td class="py-2">{{ order.date }}</td>
                                                    <td class="py-2">
                                                        <ul class="list-unstyled">
                                                            {% for item in order.lineitems.all %}
                                                                <li class="small">            
                                                                    {{ item.product.name }} x{{ item.quantity }}
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </td>
                                                    <td class="py-2">€{{ order.grand_total }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <p class="content-text">You don't have any order history!</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade show" id="query-tab-container" role="tabpanel" aria-labelledby="queries-tab">
                    <div class="row mt-3 py-5">
                        <div class="col-12">
                            <p class="brand-text">You query history</p>
                        </div>
                    </div>


                    {% if queries %}
                        {% for query in queries %}
                            <div class="row">
                                <div class="col-12 col-sm-8 order-sm-last mb-2">
                                    <p class="content-text font-weight-700 mb-0">{{ query.subject }}</p>
                                </div>
                                <div class="col-12 col-sm-4 mb-2">
                                    <small class="mb-2">{{ query.sent_date }}</small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-sm-8 offset-sm-4 mb-2">
                                    <p class="content-text mb-0">{{ query.message }}</p>
                                </div>
                            </div>
                            
                            <div class="row mb-3">
                                <div class="col-12">
                                    <hr>
                                </div>
                            </div>

                        {% endfor %}
                    {% else %}
                        <div class="row">
                            <div class="col-12">
                                <p class="content-text">There are no queries yet.</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}
