{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <!-- Profile section -->
    <section id="profile-section" class="d-flex">
        <div class="container h-100">
            <div class="row">
                <div class="col mt-4">
                    <h3 class="section-title m-0">My Profile</h3>
                    <hr>
                </div>
            </div>
        </div>
    </section>

    <section id="profile-nav-detail-section" class="my-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="nav nav-tabs justify-content-center" id="product-info-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link links-text text-uppercase active" id="details-tab" data-toggle="tab" href="#description-tab-container" role="tab" aria-controls="description-tab-container"
                                aria-selected="true">Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link links-text text-uppercase" id="reviews-tab" data-toggle="tab" href="#reviews-tab-container" role="tab" aria-controls="reviews-tab-container"
                                aria-selected="false">History</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        
        <div class="container">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="description-tab-container" role="tabpanel" aria-labelledby="details-tab">
                    <div class="row mt-3 py-5">
                        <div class="col-12">
                            <p class="brand-text">Default Delivery Information</p>
                            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button class="btn btn-black rounded-0 text-uppercase float-right">Update Information</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="reviews-tab-container" role="tabpanel" aria-labelledby="reviews-tab">
                    <div class="row mt-3 py-5">
                        <div class="col-12">
                            <p class="brand-text">Order History</p>
                            {% if orders %}
                                <div class="order-history table-responsive">
                                    <table class="table table-sm table-borderless">
                                        <thead>
                                            <tr>
                                                <th>Order Number</th>
                                                <th>Date</th>
                                                <th>Items</th>
                                                <th>Order Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for order in orders %}
                                                <tr>
                                                    <td>
                                                        <a href="{% url 'order_history' order.order_number %}"
                                                        title="{{ order.order_number }}">
                                                            {{ order.order_number|truncatechars:6 }}
                                                        </a>
                                                    </td>
                                                    <td>{{ order.date }}</td>
                                                    <td>
                                                        <ul class="list-unstyled">
                                                            {% for item in order.lineitems.all %}
                                                                <li class="small">            
                                                                    {{ item.product.name }} x{{ item.quantity }}
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </td>
                                                    <td>${{ order.grand_total }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <p class="content-text">You don't have any order history!</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}
