:root {
    --header-container-lg-padding: 150.4px;
    --header-container-sm-md-padding: 104px;
    --header-container-xs-padding: 78.4px;
    --font-family-montserrat: 'Montserrat', sans-serif;
    --font-family-oswald: 'Oswald', sans-serif;
    --font-family-raleway: 'Raleway', sans-serif;
    --light-periwinkle: #c7cfdd;
}

html {
    height: 100%;
}

body {
    margin:0;
    padding: 0;

    font-family: var(--font-family-montserrat);
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

html.disable-scroll-on-body,
body.disable-scroll-on-body {
    overflow: hidden;
}

/* ------------------------------------- Navigation Bar ------------------------------------------- */
.navbar.enable-scroll-mobile-menu {
    width: 100%;
    max-height: 100vh;
    -webkit-overflow-scrolling: touch;
                    overflow-y: auto;
}

/* Code copied and adapted from the Boutique Ado Project */
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    word-break: break-word;
}

.main-logo-link {
    width: fit-content;
}

.main-logo-link img {
    vertical-align: unset;
}
/* ./End Code copied and adapted from the Boutique Ado Project */

button:focus {
    outline: none;
}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px;
    -webkit-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;
}

.bar1 {
    width: 15px;
}

button[aria-expanded="true"] .bar1 {
    width: 30px;
    -webkit-transform: rotate(45deg) translate(0px, 4px);
        -ms-transform: rotate(45deg) translate(0px, 4px);
            transform: rotate(45deg) translate(0px, 4px);
}

button[aria-expanded="true"] .bar2::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

button[aria-expanded="true"] .bar2 {
    -webkit-transform: rotate(-45deg) translate(2px,-6px);
        -ms-transform: rotate(-45deg) translate(2px,-6px);
            transform: rotate(-45deg) translate(2px,-6px);
}

.dropdown-item.active,
.dropdown-item:active {
    color: #000;
    background: #fff;
}

.form-control:focus,
.btn.focus, 
.btn:focus,
.custom-select:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.dropdown-item {
    font-family: var(--font-family-montserrat);
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    text-transform: uppercase;
    margin: .5rem 0;
}
/* ---------------------------------- End Navigation Bar ------------------------------------------ */

/* --------------------------------- Font Family Classes ------------------------------------------ */
.section-title {
    font-family: var(--font-family-oswald);
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.75rem;
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 60px;
}

.header-text {
    font-family: var(--font-family-montserrat);
    font-weight: 800;
    font-style: normal;
    line-height: 1.219;
    font-size: 1.7rem;
    color: #fff;
    letter-spacing: 1px;
    word-break: break-word;
    transition: all .4s ease-in-out;
}

.subheader-text {
    font-family: var(--font-family-montserrat);
    font-weight: 400;
    font-style: normal;
    line-height: 1.219;
    font-size: 0.6rem;
    color: #fff;
    letter-spacing: 1px;
    word-break: break-word;
    transition: all .4s ease-in-out;
}

.card-collection-text {
    font-family: var(--font-family-montserrat);
    font-weight: 400;
    font-style: normal;
    line-height: 1.219;
    font-size: 0.875rem;
    color: #fff;
    letter-spacing: 1px;
    word-break: break-word;
    transition: all .4s ease-in-out;
}

.brand-text {
    font-family: var(--font-family-oswald);
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1.5px;
    word-break: break-word;
}

.title-text {
    font-family: var(--font-family-montserrat);
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    word-break: break-word;
}

.links-text {
    font-family: var(--font-family-montserrat);
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 1px;
}

.content-text {
    font-family: var(--font-family-raleway);
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 14px;
}

.breadcrumb-item.title-text.active {
    font-weight: 400 !important;
}

.font-weight-500 {
    font-weight: 500 !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}
/* ------------------------------- End Font Family Classes ---------------------------------------- */

/* ------------------------------ Buttons and Color Classes --------------------------------------- */
.btn-outline-white {
    color: #fff;
    border: 1px solid #fff;
    min-width: 200px;
}

.btn-outline-white:hover,
.btn-outline-white:active,
.btn-outline-white:focus {
    background: #fff;
    color: #000;
    border: 1px solid #fff;
}

.btn--shop-now-text {
    font-family: var(--font-family-montserrat);
    font-weight: 800;
    font-style: normal;
    line-height: 1.219;
    font-size: 0.875rem;
    color: #fff;
    letter-spacing: 1px;
    word-break: break-word;
    transition: all .4s ease-in-out;
}

/* Code copied and adapted from the Boutique Ado Project */
.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.btt-button {
    display: none;
    width: 38px;
    height: 38px;
    box-shadow: 0 0px 4px 4px #ffffff87;
    background: #fff;
    position: fixed;
    bottom: 30px;
    right: 15px;
    z-index: 9999;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

input[name="q"]::placeholder {
    color: #aab7c4;
}

/* ---------------------------- End Buttons and Color Classes ------------------------------------- */

/* ----------------------------------- Bootstrap toasts ------------------------------------------- */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
    margin-left: 15px;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
/* --------------------------------- End Bootstrap toasts ----------------------------------------- */

/* -------------------------------- Allauth form formatting --------------------------------------- */
.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}
/* ./End Code copied and adapted from the Boutique Ado Project */

.allauth-form-inner-content {
    min-height: 350px;
}

.allauth-form-inner-content input:focus, 
.allauth-form-inner-content .btn.focus, 
.allauth-form-inner-content .btn:focus {
    outline: 0 !important;
    box-shadow: none !important;
    border-color: #222;
}
/* ----------------------------- End Allauth form formatting -------------------------------------- */

/* ------------------------ Image field on add/edit product form ---------------------------------- */
/* Code copied from the Boutique Ado Project */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}
/* ./End Code copied and adapted from the Boutique Ado Project */
/* ------------------------ End Image field on add/edit product form ------------------------------ */

/* ------------------------------------ Breadcrumb Nav -------------------------------------------- */
.breadcrumb {
    background: none;
}

.breadcrumb-item a {
    text-decoration: none;
}

.breadcrumb-item a,
.breadcrumb-item.active {
    font-size: 12px !important;
}
/* ---------------------------------- End Breadcrumb Nav ------------------------------------------- */

/* --------------------------------------- Nav Tabs ----------------------------------------------- */
.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-link {
    border: none;
    color: #6c757d;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border-bottom: 1px solid #000 !important;
}

.nav-tabs li a {
    margin-right: 1rem;
}
/* ------------------------------------- End Nav Tabs --------------------------------------------- */

/* ---------------------------------- Containers Classes ------------------------------------------ */
#delivery-banner {
    background: var(--light-periwinkle);
}

.header-container {
    padding-top: var(--header-container-xs-padding);
}

.homepage-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;   
        -ms-flex-align: center;   
            align-items: center;
}

#product-detail-description-container {
    background: var(--light-periwinkle);
}

.no-available-products{
    min-height: 350px;
}

.bag-totals {
    position: -webkit-sticky;
    position: sticky;
    top: calc(var(--header-container-lg-padding) + 1rem);
    margin: 0 0.8rem 1rem;  
}
/* ------------------------------- End Containers Classes ----------------------------------------- */

/* --------------------------------- Background Classes ------------------------------------------- */
.bg-homepage-section{
    background: url('/media/homepage_background.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
        -o-background-size: cover;
            background-size: cover;
    background-position-x: 65%;
    background-position-y: 10%;
    /* height: -moz-calc(100vh - var(--header-container-xs-padding));
    height: -webkit-calc(100vh - var(--header-container-xs-padding));
    height: calc(100vh - var(--header-container-xs-padding)); */
    min-height: -moz-calc(100vh - var(--header-container-xs-padding));
    min-height: -webkit-calc(100vh - var(--header-container-xs-padding));
    min-height: calc(100vh - var(--header-container-xs-padding));
}
/* ------------------------------ End Background Classes ------------------------------------------ */

/* ----------------------------- Collection Card section ------------------------------------------ */
#collection-cards .card {
    min-height: 350px;
}

.card-waistcoat {
    background: url('/media/pexels-royal-anwar-447186-waistcoat-main-card-collection.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
        -o-background-size: cover;
            background-size: cover;
}

.card-tie {
    background: url('/media/pexels-dom-j-45055-tie-main-card-collection.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
        -o-background-size: cover;
            background-size: cover;
    background-position-x: 40%;
}

.card-belt {
    background: url('/media/pexels-fox-989938-belt-main-card-collection.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
        -o-background-size: cover;
            background-size: cover;
}

.card-shoes {
    background: url('/media/pexels-tima-miroshnichenko-6765524-shoes-main-card-collection.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
        -o-background-size: cover;
            background-size: cover;
}

.card-shirts {
    background: url('/media/nimble-made-BKYeLLB1OxI-unsplash-shirts-main-card-collection.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
        -o-background-size: cover;
            background-size: cover;
    background-position-x: 25%;
}

#collection-cards .card .card-body-footer {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
                align-self: end;
    height: inherit;
    width: 100%;
    margin-top: auto;
}
/* -------------------------- End Collection Card section ----------------------------------------- */

/* --------------------------------------- Footer ------------------------------------------------- */
/* Footer code copied and adapted from Caterpillar_Montessori_MS_1 project */
#footer {
    width: 100%;
    padding: 4rem 0 4rem;
    background: #0c121c;
}

.footer-links {
    list-style: none;
    margin-bottom: 20px;
    padding: 0;
    word-break: break-word;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
}

.footer-links a:hover {
    color: #fff;
}

.footer-links-item {
    display: block;
    margin-bottom: 10px;
}

.social-icon-links {
    margin-bottom: 2rem;
}

.social-icon-links li a i {
    color: #000;
    background-color: var(--light-periwinkle);
    width: 38px;
    height: 38px;
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
}

#footer .form-control {
    background: var(--light-periwinkle);
    color: #000;
}

#footer .form-control::placeholder {
    color: #0c121cc7;
    opacity: 1;
}

#footer .form-control:focus {
    color: #000;
    background-color: var(--light-periwinkle);
    border: none;
    outline: 0;
    box-shadow: none;
}

.btn-white {
    background: #fff;
    color: #0c121c;
    border: none;
}

.btn-white:hover,
.btn-white:active,
.btn-white:focus {
    background: #fff;
    color: #0c121c;
    border: none;
    box-shadow: none;
    outline: none;
}

.form-group-wrapper-input {
    width: 100%;
}

.form-group-wrapper-submit {
    width: 100%;
}

#footer input.links-text {
    min-height: 38px !important;
}
/* ./End Footer code copied and adapted from Caterpillar_Montessori_MS_1 project */
/* -------------------------------------- End Footer ---------------------------------------------- */

/* ------------------------------------ Media Query ----------------------------------------------- */
/* Code copied and adapted from the Boutique Ado Project */
/* Slightly larger container on xl screens */
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media only screen and (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
/* ./End code copied and adapted from the Boutique Ado Project */

    .btn--shop-now-text,
    .card-collection-text {
        font-size: 1.2rem;
    }

    .header-container {
        padding-top: var(--header-container-lg-padding);
    }

    .bg-homepage-section{
        /* height: -moz-calc(100vh - var(--header-container-lg-padding));
        height: -webkit-calc(100vh - var(--header-container-lg-padding));
        height: calc(100vh - var(--header-container-lg-padding)); */
        min-height: -moz-calc(100vh - var(--header-container-lg-padding));
        min-height: -webkit-calc(100vh - var(--header-container-lg-padding));
        min-height: calc(100vh - var(--header-container-lg-padding));
    }

    .form-group-wrapper {
        margin: 0 20% 0 0;
    }

    .form-group-wrapper-input {
        width: 60%;
    }
    
    .form-group-wrapper-submit {
        width: 40%;
        flex-grow: 1;
    }
}

@media only screen and (min-width:768px) and (max-width: 991px){
}

@media only screen and (min-width:768px) {
    .header-text {
        font-size: 4rem;
    }

    .subheader-text {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
    .header-container {
        padding-top: var(--header-container-sm-md-padding);
    }

    .bg-homepage-section{
        /* height: -moz-calc(100vh - var(--header-container-sm-md-padding));
        height: -webkit-calc(100vh - var(--header-container-sm-md-padding));
        height: calc(100vh - var(--header-container-sm-md-padding)); */
        min-height: -moz-calc(100vh - var(--header-container-sm-md-padding));
        min-height: -webkit-calc(100vh - var(--header-container-sm-md-padding));
        min-height: calc(100vh - var(--header-container-sm-md-padding));
    }

    .header-text {
        font-size: 2.5rem;
    }

    .subheader-text {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
}

@media only screen and (max-width:575px) {
    .btn-outline-white {
        min-width: 1px;
    }

    .fa-lg {
        font-size: 1em;
    }
}

@media only screen and (min-width:576px){
    .title-text {
        font-size: 15px;
    }

    .dropdown-item {
        font-size: 14px;
        margin: 0;
    }
}