<!-- Footer code copied and adapted from Caterpillar_Montessori_MS_1 project -->
<footer id="footer">
    <div class="container pt-4">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-4">
                <h3 class="title-text text-uppercase text-white mb-5">Get the latest fashion updates</h3>

                <form class="mb-3" autocomplete="off" action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="form-group-wrapper d-flex flex-md-column flex-lg-row flex-wrap">
                            <div class="form-group-wrapper-input">
                                <input type="email" class="form-control border-0 rounded-0 links-text py-2 h-100" id="exampleInputEmail1" placeholder="Email *" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group-wrapper-submit d-flex">
                                <input type="submit" class="btn btn-white rounded-0 w-100 links-text font-weight-600 text-uppercase py-2 h-100" value="Subscribe">
                            </div>
                        </div>
                    </div>
                </form>

                <ul class="list-inline social-icon-links">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" aria-label="Our Facebook">
                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer" aria-label="Our Twitter">
                            <i class="fab fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer" aria-label="Our Youtube">
                            <i class="fab fa-youtube" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.pinterest.ie/" target="_blank" rel="noopener noreferrer" aria-label="Our Pinterest">
                            <i class="fab fa-pinterest-p" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" aria-label="Our Instagram">
                            <i class="fab fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 mb-4">
                <h3 class="title-text text-uppercase text-white mb-5">Customer Care</h3>

                <ul class="footer-links links-text">
                    <li class="footer-links-item">
                        <a href="" aria-label="FAQs Page">FAQs</a>
                    </li>
                    <li class="footer-links-item">
                        <a href="" aria-label="Contact Page">Contact Us</a>
                    </li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 mb-4">
                <h3 class="title-text text-uppercase text-white mb-5">Our Company</h3>

                <ul class="footer-links links-text">
                    <li class="footer-links-item">
                        <a href="" aria-label="About Us Page">About</a>
                    </li>
                    <li class="footer-links-item">
                        <a href="{% url 'reviews' %}" aria-label="Reviews Page">Reviews</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>