<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="logo-font title-text nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

         <li class="nav-item dropdown">
            <a class="logo-font title-text nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font title-text nav-link text-black mr-5" href="#" id="suits-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Suits
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="suits-link">
                <a href="" class="dropdown-item">2 Piece Suits</a>
                <a href="" class="dropdown-item">3 Piece Suits</a>
                <a href="" class="dropdown-item">Tuxedos</a>
                <a href="" class="dropdown-item">All Suits</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font title-text nav-link text-black mr-5" href="#" id="formal-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Formal
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="formal-link">
                <a href="" class="dropdown-item">Jackets</a>
                <a href="" class="dropdown-item">Waiscoats</a>
                <a href="" class="dropdown-item">Shirts</a>
                <a href="" class="dropdown-item">Trousers</a>
                <a href="" class="dropdown-item">All Formals</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font title-text nav-link text-black  mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="" class="dropdown-item">Ties</a>
                <a href="" class="dropdown-item">Cufflinks</a>
                <a href="" class="dropdown-item">Tie Clips</a>
                <a href="" class="dropdown-item">Bow Ties</a>
                <a href="" class="dropdown-item">Belts</a>
                <a href="" class="dropdown-item">Shoes</a>
                <a href="" class="dropdown-item">Socks</a>
                <a href="" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font title-text nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>