{% load static %}
{% load bag_tags %}
{% load product_wishlist %}

<!doctype html>
<html lang="en">
    <head>
        {% block meta %}
            <!-- Declare the encoding of document -->
            <meta charset="UTF-8">

            <!-- Set up support for older IE browsers -->
            <meta http-equiv="X-UA-Compatible" content="IE=edge">

            <!-- Set the viewport to make website look good on all devices -->
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <!-- Define keywords for search engines: -->
            <meta name="keywords" content="gentleman, suit, tuxedo, jacket, waiscoat, trouser, shirt, tie, cufflink, tie clip, bow tie, belts, shoe, sock, overcoat, scarves">

            <!-- Define a description of your web page -->
            <meta name="description" content="Gentleman Mayer offer suits, tuxedo, and all other men's accessories. Free delivery on orders over €100, free returns.">
            
            <!-- Define the author of a page: -->
            <meta name="author" content="">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 

        {% block corecss %}
            <!-- Bootstrap CSS 4.4.1 -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        {% block corejs %}
            <!-- jQuery and Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <!-- Stripe -->
            <script src="https://js.stripe.com/v3/"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/favicon-102x91.ico' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/favicon-72x64.ico' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-36x32.ico' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-18x16.ico' %}">
        <link rel="icon" type="image/png" href="{% static 'favicon/favicon.ico' %}">

        <title>Gentleman Mayer{% block extra_title %}{% endblock %}</title>
    </head>
    <body>
        
        <header class="container-fluid fixed-top">
            <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                    <a href="{% url 'home' %}" class="nav-link main-logo-link">
                        <img src="{% static 'logo/logo-Gentleman-Mayer.png' %}" class="mr-2" width="25" height="25" alt="Logo Image">
                        <span class="logo-font brand-text text-black my-0">Gentleman Mayer</span>
                    </a>
                </div>
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <form method="GET" action="{% url 'products' %}">
                        <div class="input-group w-100">
                            <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                            <div class="input-group-append">
                                <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <ul class="list-inline list-unstyled text-center text-lg-right my-0">

                        <li class="list-inline-item">
                            <a class="{% if wishlist %}text-info{% else %}text-black{% endif %} nav-link px-1" href="{% url 'wishlist' %}">
                                <div class="text-center">
                                    <div class="position-relative">
                                        <i class="far fa-heart fa-lg"></i>
                                        {% if wishlist %}
                                        <span class="wishlist-count font-weight-bold">{{ wishlist.paginator.count }}</span>
                                        {% endif %}
                                    </div>
                                    <p class="my-0">
                                        Whislist
                                    </p>
                                </div>
                            </a>
                        </li>
                    
                        <li class="list-inline-item dropdown">
                            <a class="text-black nav-link px-1" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <div><i class="fas fa-user fa-lg"></i></div>
                                    <p class="my-0">My Account</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                    {% endif %}
                                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link px-1" href="{% url 'view_bag' %}">
                                <div class="text-center">
                                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                    <p class="my-0">
                                        {% if grand_total %}
                                            €{{ grand_total|floatformat:2 }}
                                        {% else %}
                                            €0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row bg-white">
                <nav class="navbar navbar-expand-lg navbar-light w-100">
                    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="bar bar1"></span>
                        <span class="bar bar2"></span>
                    </button>
                    {% include 'includes/mobile-top-header.html' %}
                    {% include 'includes/main-nav.html' %}
                </nav>
            </div>

            <div id="delivery-banner" class="row text-center">
                <div class="container">
                    <div class="row">
                        <div class="col bg-black text-white">
                            <p class="logo-font title-text text-black my-1">Free delivery over €{{ free_delivery_threshold }}</p>                
                        </div>
                        <div class="col bg-black text-white d-none d-lg-block">
                            <p class="logo-font title-text text-black my-1">Free Return in Ireland</p>                
                        </div>
                        <div class="col bg-black text-white d-none d-lg-block">
                            <p class="logo-font title-text text-black my-1">100% Payment Secure</p>                
                        </div> 
                    </div>
   
                </div>
                     
            </div>
        </header>

        {% if messages %}
            <div class="message-container text-break">
                {% for message in messages %}
                    {% with message.level as level %}
                        {% if level == 40 %}
                            {% include 'includes/toasts/toast_error.html' %}
                        {% elif level == 30 %}
                            {% include 'includes/toasts/toast_warning.html' %}
                        {% elif level == 25 %}
                            {% include 'includes/toasts/toast_success.html' %}
                        {% else %}
                            {% include 'includes/toasts/toast_info.html' %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        <div class="btt-button rounded-0 border-black">
            <a class="btt-link d-flex h-100">
                <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
            </a>	
        </div>

        <!-- Modal for Delete items-->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this <span class="delete-modal-title-item"></span>?</h5>
                        <div class="modal-body-info d-flex flex-wrap justify-content-center align-items-center">
                            <div class="mb-2 h-100"><i class="fas fa-exclamation-triangle fa-3x"></i></div>
                            <div class="mb-2 h-100"><p class="modal-paragraph m-0">Warning! Your action cannot be undone.</p></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-black rounded-0 text-uppercase my-3" data-dismiss="modal">Cancel</button>
                        <a href="" class="btn btn-black rounded-0 text-uppercase my-3" id="btn-modal-confirm-delete">Confirm Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Modal for Delete items -->

        {% include 'includes/footer.html' %}

        {% block postloadjs %}
        <script src="{% static 'js/base.js' %}"></script>
        {% endblock %}
    </body>
</html>