<p class="mt-0">{{ item.product.name }}</p>
<p class="mt-0 small text-muted">SKU: {{ item.product.sku }}</p>
<p class="mt-0 small">
    {% if item.product.has_sizes %}
        {% if item.product.fields_size == 1 %}
            Size: {{ item.size }}
        {% elif item.product.fields_size == 2 %}
            {% with item.size|split:"-" as sizes %}
                <span class="mr-sm-1 mr-md-2">Jacket: {{ sizes.0 }}</span><br>
                <span class="mr-sm-1 mr-md-2">Trouser: {{ sizes.1 }}</span>
            {% endwith %}
            {% elif item.product.fields_size == 3 %}
            {% with item.size|split:"-" as sizes %}
                <span class="mr-sm-1 mr-md-2">Jacket: {{ sizes.0 }}</span><br>
                <span class="mr-sm-1 mr-md-2">Waistcoat: {{ sizes.1 }}</span><br>
                <span class="mr-sm-1 mr-md-2">Trouser: {{ sizes.2 }}</span>
            {% endwith %}
        {% endif %}
    {% else %}
        Size: One Size
    {% endif %}
</p>